In [1]:
import pandas as pd
import numpy as np

In [ ]:
for n in dupl_list:
    total = df3.loc[df3['a']==n,b]

------------------------------

In [24]:
pd.set_option('display.float_format', '{:.4f}'.format)

In [48]:
df = pd.read_excel('./all_movies.xlsx')
df

C:\Users\Asus\AppData\Local\Temp\ipykernel_29096\3643939972.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = pd.read_excel('./all_movies.xlsx')

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
0,266,118,800,2020-12-10,135367500,0,15549,223,3738,중국,중국,"TCO(주)더콘텐츠온,(주)디스테이션",15세 관람가,"전쟁, 액션",149.0000,관후,12.0000,겨울
1,168,19,1917,2020-02-19,7924722960,0.0170,877017,932,91511,미국,미국,(주)스마일이엔티,15세 관람가,"드라마, 전쟁",119.0000,샘 멘데스,2.0000,겨울
2,186,37,1987,2017-12-27,58169776145,0.0090,1942077,1299,27619,한국,한국,(주)씨제이이엔엠,15세 관람가,드라마,129.0000,장준환,12.0000,겨울
3,156,7,#살아있다,2020-06-24,15968219900,0.0340,1903992,1882,137073,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,드라마,98.0000,조일형,6.0000,여름
4,114,115,0.0MHz,2019-05-29,1088258860,0.0010,137294,446,5998,한국,한국,(주)스마일이엔티,15세 관람가,공포,102.0000,유선동,5.0000,봄
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,280,131,히트,2011-10-13,783919500,0.0010,110631,171,5960,한국,한국,(주)넥스트엔터테인먼트월드(NEW),청소년 관람불가,범죄,170.0000,마이클 만,10.0000,가을
2229,135,136,히트맨,2007-11-29,1094879000,0.0010,163414,155,10301,미국,미국,이십세기폭스필름코퍼레이션,청소년 관람불가,액션,92.0000,자비에르 젠스,11.0000,가을
2230,153,4,히트맨,2020-01-22,20614278000,0.0440,2406232,1122,87782,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,"코미디, 액션",110.0000,최원섭,1.0000,겨울
2231,441,142,히트맨: 에이전트 47,2015-09-03,502308500,0.00%,64157,272,4501,미국,미국,이십세기폭스코리아(주),15세 관람가,액션,98.0000,알렉산더 바흐,9.0000,가을
2232,43,44,"힘을 내요, 미스터 리",2019-09-11,9930518906,0.0050,1181960,990,41831,한국,한국,(주)넥스트엔터테인먼트월드(NEW),12세 관람가,"코미디, 드라마",111.0000,이계벽,9.0000,가을

In [51]:
df = df.drop(columns = 'Unnamed: 0')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2233 entries, 0 to 2232
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   순위       2233 non-null   int64
 1   영화명      2233 non-null   object
 2   개봉일      2232 non-null   datetime64[ns]
 3   매출액      2233 non-null   int64
 4   매출액 점유율  2233 non-null   object
 5   관객수      2233 non-null   int64
 6   스크린수     2233 non-null   int64
 7   상영횟수     2233 non-null   int64
 8   대표국적     2233 non-null   object
 9   국적       2233 non-null   object
 10  배급사      2231 non-null   object
 11  연령등급     2232 non-null   object
 12  장르       2233 non-null   object
 13  러닝타임     2232 non-null   float64
 14  감독       2233 non-null   object
 15  개봉월      2232 non-null   float64
 16  계절       2233 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(5), object(9)
memory usage: 296.7+ KB

In [61]:
month_list = list(df['개봉월'].unique())
month_list

[12.0, 2.0, 6.0, 5.0, 9.0, 10.0, 11.0, 3.0, 8.0, 4.0, 1.0, 7.0, nan]

In [63]:
len(df['개봉월'].unique())

13

In [68]:
df[df['개봉월'] == 'nan']

Empty DataFrame
Columns: [순위, 영화명, 개봉일, 매출액, 매출액 점유율, 관객수, 스크린수, 상영횟수, 대표국적, 국적, 배급사, 연령등급, 장르, 러닝타임, 감독, 개봉월, 계절]
Index: []

In [84]:
df[df['개봉월'].isna()]

Empty DataFrame
Columns: [순위, 영화명, 개봉일, 매출액, 매출액 점유율, 관객수, 스크린수, 상영횟수, 대표국적, 국적, 배급사, 연령등급, 장르, 러닝타임, 감독, 개봉월, 계절]
Index: []

In [83]:
case = df['영화명'] == '뽀로로 극장판 눈요정 마을 대모험'
df.loc[case, '개봉일'] = pd.to_datetime('2014-12-11')
df.loc[case, '배급사'] = '월리코기'
df.loc[case, '개봉월'] = 12
df.loc[case, '계절'] = '가을'

In [86]:
len(df['배급사'].unique())

233

In [89]:
df[df['연령등급'].isna()]

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
1374,51,애나벨,2014-10-02 00:00:00,7083492943,0.50%,926027,464,29000,미국,미국,워너브러더스 코리아(주),NaN,공포,99.0000,안토니오 트라쇼라스,10.0000,가을

In [90]:
case = df['영화명'] == '뽀로로 극장판 눈요정 마을 대모험'
df.loc[case, '연령등급'] = '15세 관람가'

In [102]:
df['연령등급'].unique()

array(['15세 관람가', '12세 관람가', '청소년 관람불가', '전체 관람가', '미국', 'PG', ' 전체 관람가',
       '<dd>17분</dd>',
       '<dd>10.0 <span class="bg_point per100"><span class="ico_point"></span></span></dd>',
       nan, '<dd>18분</dd>', '대한민국'], dtype=object)

In [95]:
df[df['연령등급'] ==' 15세 관람가']

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
3,7,#살아있다,2020-06-24 00:00:00,15968219900,0.0340,1903992,1882,137073,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,드라마,98.0000,조일형,6.0000,여름
88,110,강철비2 : 정상회담 확장판,2020-09-30 00:00:00,89922500,0,18306,126,1672,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,"드라마, 액션",142.0000,양우석,9.0000,가을

In [100]:
df.loc[df['연령등급'] ==' 15세 관람가', '연령등급'] = '15세 관람가'

In [101]:
df[df['연령등급'] ==' 15세 관람가']

Empty DataFrame
Columns: [순위, 영화명, 개봉일, 매출액, 매출액 점유율, 관객수, 스크린수, 상영횟수, 대표국적, 국적, 배급사, 연령등급, 장르, 러닝타임, 감독, 개봉월, 계절]
Index: []

In [103]:
df.loc[df['연령등급'] ==' 전체 관람가', '연령등급'] = '전체 관람가'
df[df['연령등급'] ==' 전체 관람가']

Empty DataFrame
Columns: [순위, 영화명, 개봉일, 매출액, 매출액 점유율, 관객수, 스크린수, 상영횟수, 대표국적, 국적, 배급사, 연령등급, 장르, 러닝타임, 감독, 개봉월, 계절]
Index: []

In [113]:
rating_list = ['전체 관람가', '12세 관람가', '15세 관람가', '청소년 관람불가']
case1 = df['연령등급'] != '전체 관람가'
case2 = df['연령등급'] != '12세 관람가'
case3 = df['연령등급'] != '15세 관람가'
case4 = df['연령등급'] != '청소년 관람불가'
df[case1 & case2 & case3 & case4]

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
391,94,눈의 여왕,2013-02-07 00:00:00,1846221000,0.10%,276913,316,6528,러시아,러시아,(주)넥스트엔터테인먼트월드(NEW),미국,드라마,15.0000,아담 갠저,2.0000,겨울
896,134,바람이 분다,2013-09-05 00:00:00,747245500,0.00%,106439,288,6684,일본,일본,롯데쇼핑㈜롯데엔터테인먼트,<dd>17분</dd>,대한민국,0.0000,홍유정,9.0000,가을
1843,80,캐치미,2013-12-18 00:00:00,3293262500,0.20%,480434,517,16151,한국,한국,롯데쇼핑㈜롯데엔터테인먼트,대한민국,액션,12.0000,이현우,12.0000,겨울

In [110]:
df.loc[df['영화명']=='몬스터 vs 에이리언', '연령등급'] = '12세 관람가'
df.loc[df['영화명']=='비행기', '연령등급'] = '전체 관람가'
df.loc[df['영화명']=='비행기', '감독'] = '클레이 홀'
df.loc[df['영화명']=='애나벨', '연령등급'] = '15세 관람가'
df.loc[df['영화명']=='오큘러스', '연령등급'] = '15세 관람가'

In [114]:
df[case1 & case2 & case3 & case4]

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
391,94,눈의 여왕,2013-02-07 00:00:00,1846221000,0.10%,276913,316,6528,러시아,러시아,(주)넥스트엔터테인먼트월드(NEW),미국,드라마,15.0000,아담 갠저,2.0000,겨울
896,134,바람이 분다,2013-09-05 00:00:00,747245500,0.00%,106439,288,6684,일본,일본,롯데쇼핑㈜롯데엔터테인먼트,<dd>17분</dd>,대한민국,0.0000,홍유정,9.0000,가을
1843,80,캐치미,2013-12-18 00:00:00,3293262500,0.20%,480434,517,16151,한국,한국,롯데쇼핑㈜롯데엔터테인먼트,대한민국,액션,12.0000,이현우,12.0000,겨울

In [116]:
df[df['러닝타임'].isna()]

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
871,52,미스터트롯: 더 무비,2020-10-22 00:00:00,1288696100,0.0030,150090,449,15980,한국,한국,(주)영화사 그램,전체 관람가,공연실황,NaN,전수경,10.0000,가을

In [117]:
df.loc[df['영화명']=='미스터트롯: 더 무비', '러닝타임'] = 120

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2233 entries, 0 to 2232
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   순위       2233 non-null   int64
 1   영화명      2233 non-null   object
 2   개봉일      2233 non-null   object
 3   매출액      2233 non-null   int64
 4   매출액 점유율  2233 non-null   object
 5   관객수      2233 non-null   int64
 6   스크린수     2233 non-null   int64
 7   상영횟수     2233 non-null   int64
 8   대표국적     2233 non-null   object
 9   국적       2233 non-null   object
 10  배급사      2232 non-null   object
 11  연령등급     2233 non-null   object
 12  장르       2233 non-null   object
 13  러닝타임     2233 non-null   float64
 14  감독       2233 non-null   object
 15  개봉월      2233 non-null   float64
 16  계절       2233 non-null   object
dtypes: float64(2), int64(5), object(10)
memory usage: 296.7+ KB

In [124]:
df = df.dropna()

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2232 entries, 0 to 2232
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   순위       2232 non-null   int64
 1   영화명      2232 non-null   object
 2   개봉일      2232 non-null   object
 3   매출액      2232 non-null   int64
 4   매출액 점유율  2232 non-null   object
 5   관객수      2232 non-null   int64
 6   스크린수     2232 non-null   int64
 7   상영횟수     2232 non-null   int64
 8   대표국적     2232 non-null   object
 9   국적       2232 non-null   object
 10  배급사      2232 non-null   object
 11  연령등급     2232 non-null   object
 12  장르       2232 non-null   object
 13  러닝타임     2232 non-null   float64
 14  감독       2232 non-null   object
 15  개봉월      2232 non-null   float64
 16  계절       2232 non-null   object
dtypes: float64(2), int64(5), object(10)
memory usage: 313.9+ KB

In [138]:
genre_list = list(df['장르'])

In [140]:
genre_list[3].split(',')[0]

'드라마'

In [141]:
df.iloc[0, 12]

'전쟁, 액션'

In [143]:
df.iloc[0, 12].split(',')[0]

'전쟁'

In [144]:
df.iloc[0, 12] = df.iloc[0, 12].split(',')[0]
df.head(5)

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
0,118,800,2020-12-10 00:00:00,135367500,0,15549,223,3738,중국,중국,"TCO(주)더콘텐츠온,(주)디스테이션",15세 관람가,전쟁,149.0000,관후,12.0000,겨울
1,19,1917,2020-02-19 00:00:00,7924722960,0.0170,877017,932,91511,미국,미국,(주)스마일이엔티,15세 관람가,"드라마, 전쟁",119.0000,샘 멘데스,2.0000,겨울
2,37,1987,2017-12-27 00:00:00,58169776145,0.0090,1942077,1299,27619,한국,한국,(주)씨제이이엔엠,15세 관람가,드라마,129.0000,장준환,12.0000,겨울
3,7,#살아있다,2020-06-24 00:00:00,15968219900,0.0340,1903992,1882,137073,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,드라마,98.0000,조일형,6.0000,여름
4,115,0.0MHz,2019-05-29 00:00:00,1088258860,0.0010,137294,446,5998,한국,한국,(주)스마일이엔티,15세 관람가,공포,102.0000,유선동,5.0000,봄

In [145]:
# 장르 앞에 1개만 선택
for i in range(len(df)):
    df.iloc[i, 12] = df.iloc[i, 12].split(',')[0]

In [148]:
# 감독 앞에 1개만 선택
for i in range(len(df)):
    df.iloc[i, 14] = df.iloc[i, 14].split(',')[0]

In [146]:
df['장르'].unique()

array(['전쟁', '드라마', '공포', '액션', '모험', '코미디', 'SF', '범죄', '멜로/로맨스', '스릴러',
       '판타지', '블랙코미디', '애니메이션', '미스터리', '다큐멘터리', '서스펜스', '가족', '공연실황',
       '뮤지컬', '스페인', '서사', '대한민국', '느와르', '미국'], dtype=object)

In [147]:
df[df['장르']=='미국']

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
1979,115,트론: 새로운 시작,2010-12-29 00:00:00,1469097300,0.0010,131307,379,5909,미국,미국,한국소니픽쳐스릴리징브에나비스타영화㈜,12세 관람가,미국,125.0000,조셉 코신스키,12.0000,겨울
1999,74,파라노말 액티비티,2010-01-13 00:00:00,3207923500,0.0030,438402,184,17015,미국,미국,(주)넥스트엔터테인먼트월드(NEW),12세 관람가,미국,91.0000,윌리엄 유뱅크,1.0000,겨울

In [151]:
# 장르가 미국으로 되어있던 장르 수정
df.loc[df['영화명']=='트론: 새로운 시작', '장르'] = '액션'
df.loc[df['영화명']=='파라노말 액티비티', '장르'] = '공포'

In [152]:
df[df['장르']=='미국']

Empty DataFrame
Columns: [순위, 영화명, 개봉일, 매출액, 매출액 점유율, 관객수, 스크린수, 상영횟수, 대표국적, 국적, 배급사, 연령등급, 장르, 러닝타임, 감독, 개봉월, 계절]
Index: []

In [153]:
df[df['장르']=='스페인']

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
387,24,논스톱,2014-02-27 00:00:00,16066549940,1.00%,2084482,582,58217,미국,"미국,프랑스",(주)넥스트엔터테인먼트월드(NEW),15세 관람가,스페인,106.0000,자움 콜렛 세라,2.0000,겨울

In [154]:
# 장르가 스페인으로 되어있던 장르 수정
df.loc[df['영화명']=='논스톱', '장르'] = '액션'
df[df['장르']=='스페인']

Empty DataFrame
Columns: [순위, 영화명, 개봉일, 매출액, 매출액 점유율, 관객수, 스크린수, 상영횟수, 대표국적, 국적, 배급사, 연령등급, 장르, 러닝타임, 감독, 개봉월, 계절]
Index: []

In [168]:
# 러닝타임이 30분보다 적은 영화 인덱스
idx = df[df['러닝타임']<30].index

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2232 entries, 0 to 2232
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   순위       2232 non-null   int64
 1   영화명      2232 non-null   object
 2   개봉일      2232 non-null   object
 3   매출액      2232 non-null   int64
 4   매출액 점유율  2232 non-null   object
 5   관객수      2232 non-null   int64
 6   스크린수     2232 non-null   int64
 7   상영횟수     2232 non-null   int64
 8   대표국적     2232 non-null   object
 9   국적       2232 non-null   object
 10  배급사      2232 non-null   object
 11  연령등급     2232 non-null   object
 12  장르       2232 non-null   object
 13  러닝타임     2232 non-null   float64
 14  감독       2232 non-null   object
 15  개봉월      2232 non-null   float64
 16  계절       2232 non-null   object
dtypes: float64(2), int64(5), object(10)
memory usage: 378.4+ KB

In [170]:
# 러닝타임이 30분 보다 적은 영화들 제거
df.drop(idx, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2229 entries, 0 to 2232
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   순위       2229 non-null   int64
 1   영화명      2229 non-null   object
 2   개봉일      2229 non-null   object
 3   매출액      2229 non-null   int64
 4   매출액 점유율  2229 non-null   object
 5   관객수      2229 non-null   int64
 6   스크린수     2229 non-null   int64
 7   상영횟수     2229 non-null   int64
 8   대표국적     2229 non-null   object
 9   국적       2229 non-null   object
 10  배급사      2229 non-null   object
 11  연령등급     2229 non-null   object
 12  장르       2229 non-null   object
 13  러닝타임     2229 non-null   float64
 14  감독       2229 non-null   object
 15  개봉월      2229 non-null   float64
 16  계절       2229 non-null   object
dtypes: float64(2), int64(5), object(10)
memory usage: 313.5+ KB

C:\Users\Asus\AppData\Local\Temp\ipykernel_29096\2179701498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(idx, inplace=True)

#### 이 자료는 한해의 매출액을 나타낸 자료이기 때문에 한 해의 후반기에 개봉되었을 경우 매출액이 낮게 측정 될 수가 있다
#### 따라서 같은 영화일 경우 매출액을 더해서 하나의 데이터로 만들어 줘야함

In [194]:
duple_list = list(df.duplicated(subset=['영화명', '러닝타임'], keep='first'))

In [241]:
duple_list2 = df[duple_list]['영화명']

In [246]:
df2 = df.copy()
df2.head()

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
0,118,800,2020-12-10 00:00:00,135367500,0,15549,223,3738,중국,중국,"TCO(주)더콘텐츠온,(주)디스테이션",15세 관람가,전쟁,149.0000,관후,12.0000,겨울
1,19,1917,2020-02-19 00:00:00,7924722960,0.0170,877017,932,91511,미국,미국,(주)스마일이엔티,15세 관람가,드라마,119.0000,샘 멘데스,2.0000,겨울
2,37,1987,2017-12-27 00:00:00,58169776145,0.0090,1942077,1299,27619,한국,한국,(주)씨제이이엔엠,15세 관람가,드라마,129.0000,장준환,12.0000,겨울
3,7,#살아있다,2020-06-24 00:00:00,15968219900,0.0340,1903992,1882,137073,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,드라마,98.0000,조일형,6.0000,여름
4,115,0.0MHz,2019-05-29 00:00:00,1088258860,0.0010,137294,446,5998,한국,한국,(주)스마일이엔티,15세 관람가,공포,102.0000,유선동,5.0000,봄

In [247]:
sum(df2.loc[df2['영화명']=='가면', '매출액'])

2139483000

In [248]:
df2[df2['영화명']=='가면']

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
69,130,가면,2007-12-27 00:00:00,1185895000,0.0010,177220,200,5551,한국,한국,롯데쇼핑㈜롯데엔터테인먼트,청소년 관람불가,범죄,99.0000,양윤호,12.0000,겨울
70,131,가면,2007-12-27 00:00:00,953588000,0.0010,141394,167,5815,한국,한국,롯데쇼핑㈜롯데엔터테인먼트,청소년 관람불가,범죄,99.0000,양윤호,12.0000,겨울

In [250]:
df2.drop(columns = '매출액 점유율')

,순위,영화명,개봉일,매출액,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
0,118,800,2020-12-10 00:00:00,135367500,15549,223,3738,중국,중국,"TCO(주)더콘텐츠온,(주)디스테이션",15세 관람가,전쟁,149.0000,관후,12.0000,겨울
1,19,1917,2020-02-19 00:00:00,7924722960,877017,932,91511,미국,미국,(주)스마일이엔티,15세 관람가,드라마,119.0000,샘 멘데스,2.0000,겨울
2,37,1987,2017-12-27 00:00:00,58169776145,1942077,1299,27619,한국,한국,(주)씨제이이엔엠,15세 관람가,드라마,129.0000,장준환,12.0000,겨울
3,7,#살아있다,2020-06-24 00:00:00,15968219900,1903992,1882,137073,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,드라마,98.0000,조일형,6.0000,여름
4,115,0.0MHz,2019-05-29 00:00:00,1088258860,137294,446,5998,한국,한국,(주)스마일이엔티,15세 관람가,공포,102.0000,유선동,5.0000,봄
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,131,히트,2011-10-13 00:00:00,783919500,110631,171,5960,한국,한국,(주)넥스트엔터테인먼트월드(NEW),청소년 관람불가,범죄,170.0000,마이클 만,10.0000,가을
2229,136,히트맨,2007-11-29 00:00:00,1094879000,163414,155,10301,미국,미국,이십세기폭스필름코퍼레이션,청소년 관람불가,액션,92.0000,자비에르 젠스,11.0000,가을
2230,4,히트맨,2020-01-22 00:00:00,20614278000,2406232,1122,87782,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,코미디,110.0000,최원섭,1.0000,겨울
2231,142,히트맨: 에이전트 47,2015-09-03 00:00:00,502308500,64157,272,4501,미국,미국,이십세기폭스코리아(주),15세 관람가,액션,98.0000,알렉산더 바흐,9.0000,가을
2232,44,"힘을 내요, 미스터 리",2019-09-11 00:00:00,9930518906,1181960,990,41831,한국,한국,(주)넥스트엔터테인먼트월드(NEW),12세 관람가,코미디,111.0000,이계벽,9.0000,가을

In [251]:
# 같은 영화의 매출액을 합으로 수정
for n in duple_list2:
    df2.loc[df2['영화명']== n, '매출액'] = sum(df2.loc[df2['영화명']==n, '매출액'])
    df2.loc[df2['영화명']== n, '관객수'] = sum(df2.loc[df2['영화명']==n, '관객수'])
    df2.loc[df2['영화명']== n, '스크린수'] = sum(df2.loc[df2['영화명']==n, '스크린수'])
    df2.loc[df2['영화명']== n, '상영횟수'] = sum(df2.loc[df2['영화명']==n, '상영횟수'])

In [252]:
df2

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
0,118,800,2020-12-10 00:00:00,135367500,0,15549,223,3738,중국,중국,"TCO(주)더콘텐츠온,(주)디스테이션",15세 관람가,전쟁,149.0000,관후,12.0000,겨울
1,19,1917,2020-02-19 00:00:00,7924722960,0.0170,877017,932,91511,미국,미국,(주)스마일이엔티,15세 관람가,드라마,119.0000,샘 멘데스,2.0000,겨울
2,37,1987,2017-12-27 00:00:00,58169776145,0.0090,1942077,1299,27619,한국,한국,(주)씨제이이엔엠,15세 관람가,드라마,129.0000,장준환,12.0000,겨울
3,7,#살아있다,2020-06-24 00:00:00,15968219900,0.0340,1903992,1882,137073,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,드라마,98.0000,조일형,6.0000,여름
4,115,0.0MHz,2019-05-29 00:00:00,1088258860,0.0010,137294,446,5998,한국,한국,(주)스마일이엔티,15세 관람가,공포,102.0000,유선동,5.0000,봄
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,131,히트,2011-10-13 00:00:00,783919500,0.0010,110631,171,5960,한국,한국,(주)넥스트엔터테인먼트월드(NEW),청소년 관람불가,범죄,170.0000,마이클 만,10.0000,가을
2229,136,히트맨,2007-11-29 00:00:00,1094879000,0.0010,163414,155,10301,미국,미국,이십세기폭스필름코퍼레이션,청소년 관람불가,액션,92.0000,자비에르 젠스,11.0000,가을
2230,4,히트맨,2020-01-22 00:00:00,20614278000,0.0440,2406232,1122,87782,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,코미디,110.0000,최원섭,1.0000,겨울
2231,142,히트맨: 에이전트 47,2015-09-03 00:00:00,502308500,0.00%,64157,272,4501,미국,미국,이십세기폭스코리아(주),15세 관람가,액션,98.0000,알렉산더 바흐,9.0000,가을
2232,44,"힘을 내요, 미스터 리",2019-09-11 00:00:00,9930518906,0.0050,1181960,990,41831,한국,한국,(주)넥스트엔터테인먼트월드(NEW),12세 관람가,코미디,111.0000,이계벽,9.0000,가을

In [266]:
# 영화명과 러닝타임이 같은 데이터 중복 제거
df2 = df2.drop_duplicates(['영화명', '러닝타임'])

In [343]:
df2['배급사'].unique()

array(['TCO(주)더콘텐츠온,(주)디스테이션', '(주)스마일이엔티', '(주)씨제이이엔엠',
       '롯데컬처웍스(주)롯데엔터테인먼트', '유니버설픽쳐스인터내셔널 코리아(유)',
       '소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)', '한국소니픽쳐스릴리징브에나비스타영화㈜', '워너브러더스 코리아(주)',
       '(주)싸이더스', '이십세기폭스코리아(주)', '㈜케이디미디어', '롯데쇼핑㈜롯데엔터테인먼트', 'CJ ENM',
       '(주)리틀빅픽쳐스', '㈜메가박스', '(주)드림팩트엔터테인먼트,(주)제이앤씨미디어그룹,TCO(주)더콘텐츠온',
       '(주)인벤트스톤,영화사청어람(주)', '이십세기폭스필름코퍼레이션', '(주)쇼박스', '(주)키다리이엔티',
       'TCO(주)더콘텐츠온,(주)제이앤씨미디어그룹', '필라멘트픽쳐스', '(주)스튜디오210',
       '(주)넥스트엔터테인먼트월드(NEW)', '(주)프라임엔터테인먼트', '(주)팝엔터테인먼트,CJ ENM',
       '에스케이텔레콤(주)', '㈜스튜디오이쩜영', '와이드 릴리즈(주)',
       '롯데쇼핑㈜롯데엔터테인먼트,(주)시너지하우스 (시너지)', '(재)CBS,주식회사 블루필름웍스',
       '월트디즈니컴퍼니코리아 유한책임회사', '(주)시네마서비스', '(주)인벤트스톤', '아이러브시네마',
       '플러스엠 엔터테인먼트', '(주)시네마서비스,(주)나이너스엔터테인먼트',
       '(주)스튜디오 산타클로스엔터테인먼트,(주)아센디오,(주)제이앤씨미디어그룹', 'CJ ENM,(주)시네마서비스',
       '예지림엔터테인먼트', '월트디즈니컴퍼니코리아(주)', 'CGV아트하우스',
       '(주)키위미디어그룹,오퍼스픽쳐스(유),(주)씨네필운', '(주)에스비에스콘텐츠허브', '(주)시너지하우스 (시너지)',
       '(주)제이앤씨미디어그룹', '소니픽쳐스엔터테인먼트코리아주식회사극장배급지점,(주)키다리이엔티',
       '씨너스엔터테인먼트(주)', '(주)콘텐츠 난다긴다', '소니픽쳐스엔터테인먼트코리아주식회사극장배급지점',
       '씨너스엔터테인먼트(주),타임스토리그룹(주)', '(주)콘텐츠판다', 'CGV아트하우스,(주)리틀빅픽쳐스',
       '(주)이수C&E', '(주)리틀빅픽쳐스,(주)레드로버', '(주)박수엔터테인먼트',
       '씨제이 씨지브이(CJ CGV)(주),(주)씨네필운', '(주)와우픽쳐스',
       '주식회사 해리슨앤컴퍼니,워너브러더스 코리아(주)', '씨제이포디플렉스 주식회사',
       '(주)스튜디오디에이치엘,주식회사 해리슨앤컴퍼니,워너브러더스 코리아(주)',
       '(주)제이앤씨미디어그룹,TCO(주)더콘텐츠온', '(주)엠케이픽처스 ,(주)두엔터테인먼트', '워터홀컴퍼니(주)',
       '(주)아이코닉스', '에이원엔터테인먼트', '대원미디어(주)', '(주)미디어데이', '주식회사 컨텐츠썬',
       '(주)영화사 빅,(주)버킷스튜디오', '(주)이수C&E,(주)시너지미디어', '(주)애니플러스',
       '(주)이수C&E,(주)에이원엔터테인먼트', '(주)스마일이엔티,(주)영화사오원',
       '씨제이 씨지브이(CJ CGV)(주)', '(주)포켓몬코리아', '판씨네마(주)',
       '플러스엠 엔터테인먼트,주식회사 키위컴퍼니', '(주)성원아이컴', '(주)박수엔터테인먼트,에이원엔터테인먼트',
       '(주)누리픽쳐스', '씨네그루(주)다우기술', '(주)올스타엔터테인먼트',
       '플러스엠 엔터테인먼트,(주)미디어캐슬,워터홀컴퍼니(주)', '(주)리틀빅픽쳐스,(주)이수C&E',
       '(주)메리크리스마스,TCO(주)더콘텐츠온', '(주)아이필름코퍼레이션,씨제이 씨지브이(CJ CGV)(주)',
       '(주)미로비젼', '(주)화앤담이엔티', '(주)미로비젼,아뮤즈코리아(주)', 'CGV아트하우스,영화사 풀',
       '(주)나이너스엔터테인먼트', '판씨네마(주),(주)프레인글로벌', '영화사청어람(주)', '월트디즈니코리아㈜',
       '(주)영화사 빅', '(주)스톰픽쳐스코리아,주식회사 우리네트웍스', '(주)마인스 엔터테인먼트',
       '(주)대명문화공장,(주)리틀빅픽쳐스', '(주)키다리이엔티,주식회사 키위컴퍼니', '프라임 엔터테이먼트',
       '(주)팝파트너스', '(주)팝엔터테인먼트', '주식회사 우리네트웍스', '(주)더블앤조이픽쳐스,TCO(주)더콘텐츠온',
       '(주)케이티알파,판씨네마(주)', '월트디즈니컴퍼니코리아 유한책임회사,이십세기폭스코리아(주)',
       '(주)엔케이컨텐츠,롯데쇼핑㈜롯데엔터테인먼트', '(주)엔케이컨텐츠,(유)씨에이치엔터테인먼트',
       '(주)드림팩트엔터테인먼트', '(주)시너지하우스 (시너지),롯데쇼핑㈜롯데엔터테인먼트', '팝엔터테인먼트',
       '영화사청어람(주),(주)엠엔에프씨', '유니버설픽쳐스인터내셔널 코리아(유),CJ ENM',
       '(주)영화사오원,CJ ENM', '(주)엠플러스픽쳐스', '영화사올(주)', 'TCO(주)더콘텐츠온',
       '브에나비스타인터내셔널코리아/월트디즈니', '(주)스튜디오이쩜영', '(주)크리픽쳐스', '(주)프레인글로벌',
       '실버스푼', 'UIP코리아', '유프로덕션', '플러스엠 엔터테인먼트,(주)콘텐츠 난다긴다',
       '에스케이플래닛(주),(주)씨제이이엔엠', '(주)디스테이션', '롯데쇼핑㈜롯데엔터테인먼트,미디어소프트',
       '투니버스(주)온미디어', '타임스토리그룹(주)', '오퍼스픽쳐스(유)',
       '한국소니픽쳐스릴리징브에나비스타영화㈜,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)',
       'CGV ICECON,씨제이포디플렉스 주식회사', '(주)영화사 안다미로',
       '롯데컬처웍스(주)롯데엔터테인먼트,(주)키다리이엔티', '(유)영화사 화수분,(주)에스비에스콘텐츠허브',
       '워너브러더스 코리아(주),한국소니픽쳐스릴리징브에나비스타영화㈜', '(주)삼지애니메이션', '(주)메리크리스마스',
       '(주)박수엔터테인먼트,㈜코리아스크린', '플러스엠 엔터테인먼트,(주)리틀빅픽쳐스', '(주)영화사 그램',
       '(주)벤티지홀딩스', '(주)드림팩트엔터테인먼트,예지림엔터테인먼트', '워너브러더스 코리아(주),(주)시네마서비스',
       '워너브러더스 코리아(주),CJ ENM', '(주)씨제이이엔엠,(주)덱스터스튜디오', '힘컨텐츠(주),(주)디스테이션',
       '플러스엠 엔터테인먼트,(주)키위미디어그룹', 'CGV ICECON', '(주)에이스메이커무비웍스',
       '(주)중헌홀딩스', '(주)제이앤씨미디어그룹,UIP코리아', 'CGV ICECON,월트디즈니컴퍼니코리아 유한책임회사',
       '(주)영화사 그램,이십세기폭스코리아(주)', '(주)이수C&E,(주)스톰픽쳐스코리아',
       '(주)까멜리아이엔티,(주)팝엔터테인먼트', '(주)팝엔터테인먼트,한국소니픽쳐스릴리징브에나비스타영화㈜',
       '(합)알지애니메이션스튜디오,씨제이 씨지브이(CJ CGV)(주)', '월리코기',
       '(주)넥스트엔터테인먼트월드(NEW),(주)씨제이이엔엠', 'KT&G 상상마당 영화사업팀 컴퍼니에스에스(주)',
       '(주)쇼박스,(주)와우픽쳐스', '오퍼스픽쳐스(유),(주)쇼박스',
       '워터홀컴퍼니(주),한국소니픽쳐스릴리징브에나비스타영화㈜',
       '(주)디스테이션,(주)시너지하우스 (시너지),롯데쇼핑㈜롯데엔터테인먼트', '(주)그노스', '(주)영화특별시에스엠씨',
       'UPI코리아', '(주)화천공사', '(주)일레븐엔터테인먼트,(주)넥스트엔터테인먼트월드(NEW)',
       '(주)리틀빅픽쳐스,(주)페퍼민트앤컴퍼니', '㈜코리아스크린', '(주)리틀빅픽쳐스,(주)인벤트스톤',
       '(주)라이크콘텐츠', '플러스엠 엔터테인먼트,(주)레드로버', '(주)삼백상회,(주)팬엔터테인먼트',
       '롯데쇼핑㈜롯데엔터테인먼트,(주)리틀빅픽쳐스', '(주)홈초이스',
       '(주)스튜디오 산타클로스엔터테인먼트,(주)제이앤씨미디어그룹', '(주)에이스메이커무비웍스,(주)키위미디어그룹',
       '(주)영화사 그램,CJ ENM', '오퍼스픽쳐스(유),CGV아트하우스',
       '월트디즈니컴퍼니코리아 유한책임회사,한국소니픽쳐스릴리징브에나비스타영화㈜',
       '월트디즈니컴퍼니코리아 유한책임회사,월트디즈니컴퍼니코리아(주)', '(주)영화사오원',
       '(주)누리픽쳐스,(주)영화특별시에스엠씨', '(주)엠제이픽쳐스', '㈜T-JOY,씨너스엔터테인먼트(주)',
       '(주)케이티알파,씨제이 씨지브이(CJ CGV)(주)', '(주)와우픽쳐스,(주)쇼박스',
       '(주)팝엔터테인먼트,(주)프라임엔터테인먼트,(주)유레카픽쳐스',
       '(주)넥스트엔터테인먼트월드(NEW),KT&G 상상마당 영화사업팀 컴퍼니에스에스(주)', '(유)씨에이치엔터테인먼트',
       '글뫼 주식회사,이십세기폭스코리아(주)', '롯데쇼핑㈜롯데엔터테인먼트,(주)마인스 엔터테인먼트',
       '주식회사 에이비오엔터테인먼트,플러스엠 엔터테인먼트', '(주)리틀빅픽쳐스,(주)트리니티픽쳐스',
       '유니코리아문예투자(주),CJ ENM', '롯데쇼핑㈜롯데엔터테인먼트,타임스토리그룹(주)',
       '(주)디스테이션,워너브러더스 코리아(주)', '파이오니아21', '(재)서울예술단', '(주)셀트리온엔터테인먼트',
       '(주)영화사 빅,(주)다날엔터테인먼트', '(주)제이앤씨미디어그룹,(주)나이너스엔터테인먼트',
       '(주)제이앤씨미디어그룹,(유)조이앤시네마', '(주)시네마서비스,CJ ENM',
       '(주)마인스 엔터테인먼트,(주)박수엔터테인먼트', '(주)싸이더스,(주)넥스트엔터테인먼트월드(NEW)',
       '월트디즈니컴퍼니코리아 유한책임회사,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)',
       '동우에이앤이(주),(주)박수엔터테인먼트', '동우에이앤이(주)', '롯데쇼핑㈜롯데엔터테인먼트,(주)싸이더스',
       '롯데쇼핑㈜롯데엔터테인먼트,(주)스마일이엔티', '아이비젼엔터테인먼트(주)', '주식회사 해리슨앤컴퍼니',
       '판씨네마(주),(주)넥스트엔터테인먼트월드(NEW)', '(주)드림팩트엔터테인먼트,팝엔터테인먼트',
       '(주)누리픽쳐스,(주)케이티알파', '(주)케이알씨지,(주)시너지하우스 (시너지)',
       '(주)스마일이엔티,(주)에스비에스콘텐츠허브', '(주)넥스트엔터테인먼트월드(NEW),판씨네마(주)',
       '더핑크퐁컴퍼니(주)', '(주)드림팩트엔터테인먼트,(주)삼백상회', '(주)삼백상회',
       '(주)넥스트엔터테인먼트월드(NEW),(주)에스비에스콘텐츠허브', '(주)씨제이이엔엠,주식회사 티빙',
       '(주)누리픽쳐스,롯데쇼핑㈜롯데엔터테인먼트', '유나이티드픽처스(주)', '(주)쇼박스,이십세기폭스코리아(주)'],
      dtype=object)

In [346]:
# 배급사 앞에 1개만 채택
for i in range(len(df2)):
    df2.iloc[i, 10] = df2.iloc[i, 10].split(',')[0]

In [347]:
df2['배급사'].unique()

array(['TCO(주)더콘텐츠온', '(주)스마일이엔티', '(주)씨제이이엔엠', '롯데컬처웍스(주)롯데엔터테인먼트',
       '유니버설픽쳐스인터내셔널 코리아(유)', '소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)',
       '한국소니픽쳐스릴리징브에나비스타영화㈜', '워너브러더스 코리아(주)', '(주)싸이더스', '이십세기폭스코리아(주)',
       '㈜케이디미디어', '롯데쇼핑㈜롯데엔터테인먼트', 'CJ ENM', '(주)리틀빅픽쳐스', '㈜메가박스',
       '(주)드림팩트엔터테인먼트', '(주)인벤트스톤', '이십세기폭스필름코퍼레이션', '(주)쇼박스',
       '(주)키다리이엔티', '필라멘트픽쳐스', '(주)스튜디오210', '(주)넥스트엔터테인먼트월드(NEW)',
       '(주)프라임엔터테인먼트', '(주)팝엔터테인먼트', '에스케이텔레콤(주)', '㈜스튜디오이쩜영',
       '와이드 릴리즈(주)', '(재)CBS', '월트디즈니컴퍼니코리아 유한책임회사', '(주)시네마서비스',
       '아이러브시네마', '플러스엠 엔터테인먼트', '(주)스튜디오 산타클로스엔터테인먼트', '예지림엔터테인먼트',
       '월트디즈니컴퍼니코리아(주)', 'CGV아트하우스', '(주)키위미디어그룹', '(주)에스비에스콘텐츠허브',
       '(주)시너지하우스 (시너지)', '(주)제이앤씨미디어그룹', '소니픽쳐스엔터테인먼트코리아주식회사극장배급지점',
       '씨너스엔터테인먼트(주)', '(주)콘텐츠 난다긴다', '(주)콘텐츠판다', '(주)이수C&E',
       '(주)박수엔터테인먼트', '씨제이 씨지브이(CJ CGV)(주)', '(주)와우픽쳐스', '주식회사 해리슨앤컴퍼니',
       '씨제이포디플렉스 주식회사', '(주)스튜디오디에이치엘', '(주)엠케이픽처스 ', '워터홀컴퍼니(주)',
       '(주)아이코닉스', '에이원엔터테인먼트', '대원미디어(주)', '(주)미디어데이', '주식회사 컨텐츠썬',
       '(주)영화사 빅', '(주)애니플러스', '(주)포켓몬코리아', '판씨네마(주)', '(주)성원아이컴',
       '(주)누리픽쳐스', '씨네그루(주)다우기술', '(주)올스타엔터테인먼트', '(주)메리크리스마스',
       '(주)아이필름코퍼레이션', '(주)미로비젼', '(주)화앤담이엔티', '(주)나이너스엔터테인먼트',
       '영화사청어람(주)', '월트디즈니코리아㈜', '(주)스톰픽쳐스코리아', '(주)마인스 엔터테인먼트',
       '(주)대명문화공장', '프라임 엔터테이먼트', '(주)팝파트너스', '주식회사 우리네트웍스',
       '(주)더블앤조이픽쳐스', '(주)케이티알파', '(주)엔케이컨텐츠', '팝엔터테인먼트', '(주)영화사오원',
       '(주)엠플러스픽쳐스', '영화사올(주)', '브에나비스타인터내셔널코리아/월트디즈니', '(주)스튜디오이쩜영',
       '(주)크리픽쳐스', '(주)프레인글로벌', '실버스푼', 'UIP코리아', '유프로덕션', '에스케이플래닛(주)',
       '(주)디스테이션', '투니버스(주)온미디어', '타임스토리그룹(주)', '오퍼스픽쳐스(유)', 'CGV ICECON',
       '(주)영화사 안다미로', '(유)영화사 화수분', '(주)삼지애니메이션', '(주)영화사 그램',
       '(주)벤티지홀딩스', '힘컨텐츠(주)', '(주)에이스메이커무비웍스', '(주)중헌홀딩스', '(주)까멜리아이엔티',
       '(합)알지애니메이션스튜디오', '월리코기', 'KT&G 상상마당 영화사업팀 컴퍼니에스에스(주)', '(주)그노스',
       '(주)영화특별시에스엠씨', 'UPI코리아', '(주)화천공사', '(주)일레븐엔터테인먼트', '㈜코리아스크린',
       '(주)라이크콘텐츠', '(주)삼백상회', '(주)홈초이스', '(주)엠제이픽쳐스', '㈜T-JOY',
       '(유)씨에이치엔터테인먼트', '글뫼 주식회사', '주식회사 에이비오엔터테인먼트', '유니코리아문예투자(주)',
       '파이오니아21', '(재)서울예술단', '(주)셀트리온엔터테인먼트', '동우에이앤이(주)',
       '아이비젼엔터테인먼트(주)', '(주)케이알씨지', '더핑크퐁컴퍼니(주)', '유나이티드픽처스(주)'],
      dtype=object)

In [348]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2093 entries, 0 to 2232
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   순위       2093 non-null   int64
 1   영화명      2093 non-null   object
 2   개봉일      2093 non-null   object
 3   매출액      2093 non-null   int64
 4   매출액 점유율  2093 non-null   object
 5   관객수      2093 non-null   int64
 6   스크린수     2093 non-null   int64
 7   상영횟수     2093 non-null   int64
 8   대표국적     2093 non-null   object
 9   국적       2093 non-null   object
 10  배급사      2093 non-null   object
 11  연령등급     2093 non-null   object
 12  장르       2093 non-null   object
 13  러닝타임     2093 non-null   float64
 14  감독       2093 non-null   object
 15  개봉월      2093 non-null   float64
 16  계절       2093 non-null   object
dtypes: float64(2), int64(5), object(10)
memory usage: 294.3+ KB

In [255]:
print(2229-2093)

136

In [6]:
df2 = df2.drop(columns = ['순위', '매출액 점유율'])

NameError: name 'df2' is not defined

In [412]:
df2.to_excel('df3.xlsx', index=False, encoding='utf-8')

In [7]:
df3 = pd.read_excel('./df3.xlsx')
df3

,영화명,개봉일,매출액,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
0,800,2020-12-10,135367500,15549,223,3738,중국,중국,TCO(주)더콘텐츠온,15세 관람가,전쟁,149,관후,12,겨울
1,1917,2020-02-19,7924722960,877017,932,91511,미국,미국,(주)스마일이엔티,15세 관람가,드라마,119,샘 멘데스,2,겨울
2,1987,2017-12-27,58169776145,1942077,1299,27619,한국,한국,(주)씨제이이엔엠,15세 관람가,드라마,129,장준환,12,겨울
3,#살아있다,2020-06-24,15968219900,1903992,1882,137073,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,드라마,98,조일형,6,여름
4,0.0MHz,2019-05-29,1088258860,137294,446,5998,한국,한국,(주)스마일이엔티,15세 관람가,공포,102,유선동,5,봄
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088,히트,2011-10-13,783919500,110631,171,5960,한국,한국,(주)넥스트엔터테인먼트월드(NEW),청소년 관람불가,범죄,170,마이클 만,10,가을
2089,히트맨,2007-11-29,1094879000,163414,155,10301,미국,미국,이십세기폭스필름코퍼레이션,청소년 관람불가,액션,92,자비에르 젠스,11,가을
2090,히트맨,2020-01-22,20614278000,2406232,1122,87782,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,코미디,110,최원섭,1,겨울
2091,히트맨: 에이전트 47,2015-09-03,502308500,64157,272,4501,미국,미국,이십세기폭스코리아(주),15세 관람가,액션,98,알렉산더 바흐,9,가을
2092,"힘을 내요, 미스터 리",2019-09-11,9930518906,1181960,990,41831,한국,한국,(주)넥스트엔터테인먼트월드(NEW),12세 관람가,코미디,111,이계벽,9,가을

In [390]:
df3 = df2.copy()
df3 = df3.reset_index(drop=True)
df3

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
0,118,800,2020-12-10 00:00:00,135367500,0,15549,223,3738,중국,중국,TCO(주)더콘텐츠온,15세 관람가,전쟁,149.0000,관후,12.0000,겨울
1,19,1917,2020-02-19 00:00:00,7924722960,0.0170,877017,932,91511,미국,미국,(주)스마일이엔티,15세 관람가,드라마,119.0000,샘 멘데스,2.0000,겨울
2,37,1987,2017-12-27 00:00:00,58169776145,0.0090,1942077,1299,27619,한국,한국,(주)씨제이이엔엠,15세 관람가,드라마,129.0000,장준환,12.0000,겨울
3,7,#살아있다,2020-06-24 00:00:00,15968219900,0.0340,1903992,1882,137073,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,드라마,98.0000,조일형,6.0000,여름
4,115,0.0MHz,2019-05-29 00:00:00,1088258860,0.0010,137294,446,5998,한국,한국,(주)스마일이엔티,15세 관람가,공포,102.0000,유선동,5.0000,봄
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088,131,히트,2011-10-13 00:00:00,783919500,0.0010,110631,171,5960,한국,한국,(주)넥스트엔터테인먼트월드(NEW),청소년 관람불가,범죄,170.0000,마이클 만,10.0000,가을
2089,136,히트맨,2007-11-29 00:00:00,1094879000,0.0010,163414,155,10301,미국,미국,이십세기폭스필름코퍼레이션,청소년 관람불가,액션,92.0000,자비에르 젠스,11.0000,가을
2090,4,히트맨,2020-01-22 00:00:00,20614278000,0.0440,2406232,1122,87782,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,코미디,110.0000,최원섭,1.0000,겨울
2091,142,히트맨: 에이전트 47,2015-09-03 00:00:00,502308500,0.00%,64157,272,4501,미국,미국,이십세기폭스코리아(주),15세 관람가,액션,98.0000,알렉산더 바흐,9.0000,가을
2092,44,"힘을 내요, 미스터 리",2019-09-11 00:00:00,9930518906,0.0050,1181960,990,41831,한국,한국,(주)넥스트엔터테인먼트월드(NEW),12세 관람가,코미디,111.0000,이계벽,9.0000,가을

In [8]:
Y_data = df3['매출액']
# X_data = df3.drop(columns=['영화명', '개봉일', '매출액', '국적'])
X_data = df3.drop(columns=['영화명', '개봉일', '매출액', '국적', '상영횟수'])
# X_data = df3.drop(columns=['영화명', '개봉일', '매출액', '국적', '상영횟수', '관객수', '스크린수'])

In [9]:
df3['국적'].unique()

array(['중국', '미국', '한국', '미국,영국', '영국,미국', '한국,호주', '프랑스', '일본', '미국,러시아',
       '영국', '미국,영국,캐나다', '미국,독일,캐나다', '홍콩', '미국,호주', '미국,한국', '홍콩,중국,미국',
       '한국,미국', '미국,중국', '캐나다', '일본,네덜란드', '미국,스페인', '미국,이탈리아',
       '한국,캐나다,중국', '한국,캐나다,미국', '한국,필리핀', '독일,벨기에,룩셈부르크,아일랜드', '미국,프랑스',
       '캐나다,일본,브라질', '러시아', '핀란드,덴마크,독일,아일랜드', '핀란드,덴마크,아일랜드,독일', '한국,태국',
       '영국,프랑스,스웨덴,벨기에', '미국,영국,프랑스', '프랑스,스페인,영국', '미국,캐나다',
       '미국,헝가리,스페인', '스페인,미국', '미국,태국', '미국,독일', '영국,중국', '우크라이나',
       '영국,호주', '한국,홍콩', '미국,호주,멕시코', '페루,독일,이탈리아', '미국,뉴질랜드', '한국,일본',
       '프랑스,벨기에', '영국,독일', '미국,덴마크,캐나다,노르웨이,호주', '프랑스,영국',
       '프랑스,호주,독일,영국,미국', '독일,미국,영국', '미국,독일,호주,캐나다,프랑스', '스페인', '홍콩,프랑스',
       '한국,일본,중국', '한국,미국,홍콩', '한국,인도네시아,일본', '한국,대만,중국', '스웨덴,덴마크', '독일',
       '한국,홍콩,일본,태국', '중국,한국,일본,홍콩', '영국,프랑스', '한국,베트남', '미국,루마니아',
       '미국,벨기에,영국', '한국,중국', '프랑스,독일,덴마크', '미국,스웨덴,영국,독일', '태국',
       '한국,미국,호주', '프랑스,캐나다', '한국,독일', '미국,일본,프랑스,캐나다', '네덜란드',
       '홍콩,프랑스,중국', '벨기에,프랑스', '기타', '인도', '중국,한국,홍콩', '독일,영국,프랑스', '벨기에',
       '미국,프랑스,브라질', '한국,체코', '미국,남아프리카공화국', '중국,한국', '프랑스,체코,영국',
       '미국,홍콩', '헝가리', '미국,인도', '미국,핀란드', '캐나다,프랑스', '미국,호주,뉴질랜드',
       '미국,영국,스페인', '독일,미국', '스페인,멕시코', '미국,호주,터키', '미국,일본,터키,헝가리',
       '남아프리카공화국,미국', '중국,홍콩', '홍콩,중국', '미국,홍콩,말레이시아', '영국,미국,캐나다',
       '미국,오스트리아', '미국,아랍에미리트연합국정부', '한국,중국,몽고', '영국,호주,미국', '아이슬란드',
       '프랑스,중국', '미국,뉴질랜드,벨기에', '영국,프랑스,독일', '영국,프랑스,캐나다', '독일,영국',
       '미국,프랑스,캐나다', '미국,영국,호주', '덴마크', '호주', '홍콩,싱가포르,중국', '호주,중국,독일',
       '한국,미국,중국'], dtype=object)

In [10]:
Y_data

0         135367500
1        7924722960
2       58169776145
3       15968219900
4        1088258860
           ...
2088      783919500
2089     1094879000
2090    20614278000
2091      502308500
2092     9930518906
Name: 매출액, Length: 2093, dtype: int64

In [11]:
X_data

,관객수,스크린수,대표국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
0,15549,223,중국,TCO(주)더콘텐츠온,15세 관람가,전쟁,149,관후,12,겨울
1,877017,932,미국,(주)스마일이엔티,15세 관람가,드라마,119,샘 멘데스,2,겨울
2,1942077,1299,한국,(주)씨제이이엔엠,15세 관람가,드라마,129,장준환,12,겨울
3,1903992,1882,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,드라마,98,조일형,6,여름
4,137294,446,한국,(주)스마일이엔티,15세 관람가,공포,102,유선동,5,봄
...,...,...,...,...,...,...,...,...,...,...
2088,110631,171,한국,(주)넥스트엔터테인먼트월드(NEW),청소년 관람불가,범죄,170,마이클 만,10,가을
2089,163414,155,미국,이십세기폭스필름코퍼레이션,청소년 관람불가,액션,92,자비에르 젠스,11,가을
2090,2406232,1122,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,코미디,110,최원섭,1,겨울
2091,64157,272,미국,이십세기폭스코리아(주),15세 관람가,액션,98,알렉산더 바흐,9,가을
2092,1181960,990,한국,(주)넥스트엔터테인먼트월드(NEW),12세 관람가,코미디,111,이계벽,9,가을

In [192]:
# duple_list = list(X_data.duplicated(subset=['영화명', '러닝타임'], keep='first'))

In [12]:
X_data

,관객수,스크린수,대표국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
0,15549,223,중국,TCO(주)더콘텐츠온,15세 관람가,전쟁,149,관후,12,겨울
1,877017,932,미국,(주)스마일이엔티,15세 관람가,드라마,119,샘 멘데스,2,겨울
2,1942077,1299,한국,(주)씨제이이엔엠,15세 관람가,드라마,129,장준환,12,겨울
3,1903992,1882,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,드라마,98,조일형,6,여름
4,137294,446,한국,(주)스마일이엔티,15세 관람가,공포,102,유선동,5,봄
...,...,...,...,...,...,...,...,...,...,...
2088,110631,171,한국,(주)넥스트엔터테인먼트월드(NEW),청소년 관람불가,범죄,170,마이클 만,10,가을
2089,163414,155,미국,이십세기폭스필름코퍼레이션,청소년 관람불가,액션,92,자비에르 젠스,11,가을
2090,2406232,1122,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세 관람가,코미디,110,최원섭,1,겨울
2091,64157,272,미국,이십세기폭스코리아(주),15세 관람가,액션,98,알렉산더 바흐,9,가을
2092,1181960,990,한국,(주)넥스트엔터테인먼트월드(NEW),12세 관람가,코미디,111,이계벽,9,가을

In [13]:
len(X_data['장르'].unique())

22

In [14]:
len(X_data['연령등급'].unique())

4

In [15]:
len(X_data['계절'].unique())

4

In [16]:
len(X_data['개봉월'].unique())

12

In [17]:
len(X_data['대표국적'].unique())

25

In [18]:
category_cols = ['대표국적', '국적', '배급사', '연령등급', '장르', '감독', '계절']
numeric_cols = ['러닝타임', '개봉월']

In [19]:
# 상관계수 확인
X_data.corr()

           관객수      스크린수      러닝타임       개봉월
관객수   1.000000  0.846327  0.214172  0.037676
스크린수  0.846327  1.000000  0.139017  0.068410
러닝타임  0.214172  0.139017  1.000000  0.027552
개봉월   0.037676  0.068410  0.027552  1.000000

In [20]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
#from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
# from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error

In [21]:
X_data = pd.get_dummies(X_data)

In [22]:
X_data

,관객수,스크린수,러닝타임,개봉월,대표국적_기타,대표국적_남아프리카공화국,대표국적_네덜란드,대표국적_덴마크,대표국적_독일,대표국적_러시아,...,감독_후메이,감독_후안 안토니오 바요나,감독_훌리오 메뎀,감독_히라야마 미호,감독_히로타 유스케,감독_히시다 마사카즈,계절_가을,계절_겨울,계절_봄,계절_여름
0,15549,223,149,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,877017,932,119,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1942077,1299,129,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1903992,1882,98,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,137294,446,102,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088,110631,171,170,10,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2089,163414,155,92,11,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2090,2406232,1122,110,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2091,64157,272,98,9,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2092,1181960,990,111,9,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [23]:
x_train, x_test, y_train, y_test = train_test_split(X_data, Y_data, test_size=0.25, random_state=1000)

In [407]:
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(1569, 1447) (524, 1447) (1569,) (524,)

In [24]:
model = KNeighborsRegressor(n_neighbors = 3)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [25]:
score = mean_squared_error(y_pred, y_test)**0.5
score

1738811025.0691147

In [28]:
x_train2 = x_train.copy()

In [29]:
x_train2['매출액'] = y_train
x_train2

,관객수,스크린수,러닝타임,개봉월,대표국적_기타,대표국적_남아프리카공화국,대표국적_네덜란드,대표국적_덴마크,대표국적_독일,대표국적_러시아,...,감독_후안 안토니오 바요나,감독_훌리오 메뎀,감독_히라야마 미호,감독_히로타 유스케,감독_히시다 마사카즈,계절_가을,계절_겨울,계절_봄,계절_여름,매출액
235,137052,232,76,9,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1055895200
1528,3050132,2648,155,11,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,31729284450
866,446780,565,110,11,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3326439772
672,243209,269,111,6,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1642407500
2072,148908,174,103,10,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,983842000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,103410,171,88,12,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,724257000
769,40461,702,110,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,417212150
1372,862744,991,114,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,7649216640
599,5934052,1408,158,12,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,43149521000
1459,1619188,573,117,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,11728460300

In [30]:
x_train2.corr()

,관객수,스크린수,러닝타임,개봉월,대표국적_기타,대표국적_남아프리카공화국,대표국적_네덜란드,대표국적_덴마크,대표국적_독일,대표국적_러시아,...,감독_후안 안토니오 바요나,감독_훌리오 메뎀,감독_히라야마 미호,감독_히로타 유스케,감독_히시다 마사카즈,계절_가을,계절_겨울,계절_봄,계절_여름,매출액
관객수,1.000000,0.883796,0.239357,0.053635,-0.009491,NaN,-0.009458,-0.008258,-0.014531,-0.018148,...,0.031881,-0.007805,-0.008580,-0.009424,-0.015633,-0.034656,-0.003382,-0.040667,0.079093,0.996383
스크린수,0.883796,1.000000,0.165769,0.086326,-0.005722,NaN,-0.007068,-0.006346,-0.011001,-0.007845,...,0.018300,-0.006483,-0.000789,-0.006853,-0.018073,-0.026229,0.024867,-0.036889,0.036478,0.892981
러닝타임,0.239357,0.165769,1.000000,0.036736,-0.032669,NaN,-0.009135,-0.039207,-0.058232,-0.037265,...,0.021178,0.001324,-0.054896,-0.013058,-0.093633,-0.032644,0.041503,0.032943,-0.043946,0.238496
개봉월,0.053635,0.086326,0.036736,1.000000,-0.038728,NaN,-0.038728,-0.031647,-0.034210,-0.006650,...,-0.022121,-0.003322,0.003760,-0.010403,-0.005757,0.557258,-0.260168,-0.380447,0.089155,0.058180
대표국적_기타,-0.009491,-0.005722,-0.032669,-0.038728,1.000000,NaN,-0.000638,-0.000638,-0.001565,-0.001277,...,-0.001105,-0.000638,-0.000638,-0.000638,-0.001105,-0.014425,0.039332,-0.013706,-0.013979,-0.009115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
계절_가을,-0.034656,-0.026229,-0.032644,0.557258,-0.014425,NaN,-0.014425,-0.014425,0.012561,-0.028878,...,-0.025001,-0.014425,-0.014425,-0.014425,-0.025001,1.000000,-0.366756,-0.310016,-0.316194,-0.033329
계절_겨울,-0.003382,0.024867,0.041503,-0.260168,0.039332,NaN,0.039332,0.039332,0.028359,0.023140,...,0.003988,-0.016214,-0.016214,-0.016214,-0.028102,-0.366756,1.000000,-0.348464,-0.355409,-0.000074
계절_봄,-0.040667,-0.036889,0.032943,-0.380447,-0.013706,NaN,-0.013706,-0.013706,-0.008995,0.002709,...,-0.023755,-0.013706,-0.013706,0.046531,0.011046,-0.310016,-0.348464,1.000000,-0.300424,-0.039821
계절_여름,0.079093,0.036478,-0.043946,0.089155,-0.013979,NaN,-0.013979,-0.013979,-0.034296,0.001844,...,0.044637,0.045622,0.045622,-0.013979,0.044637,-0.316194,-0.355409,-0.300424,1.000000,0.073357
매출액,0.996383,0.892981,0.238496,0.058180,-0.009115,NaN,-0.009076,-0.008185,-0.012224,-0.017493,...,0.035482,-0.007742,-0.008237,-0.009039,-0.014974,-0.033329,-0.000074,-0.039821,0.073357,1.000000